@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: linear-gradient(135deg, #f4f0fc 0%, #ece9f4 100%);
  font-family: Arial, Helvetica, sans-serif;
  color: #30055B;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4b226a;
}

.container p {
  font-size: 16px;
  color: #4b226a;
}

.container strong {
  color: #4b226a;
  font-weight: bold;
}